<<<<<<< HEAD
.-webdev-c-1 {color:#052240;}
.-webdev-bc-1 {background-color:#052240;}
=======
.-webdev-c--2026351136 {color:#F5F4F0;}
.-webdev-bc--2026351136 {background-color:#F5F4F0;}
.-webdev-c--2026350319 {color:#052240;}
.-webdev-bc--2026350319 {background-color:#052240;}
>>>>>>> a346d462ccc8a730271d74e3881b3bb7ae1f72db
